body{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height:100%;
  margin:0;
  background-color: #fafafa;
/*  line-height: 33px;*/
}
#main-nav{
	width:100%;
	text-align:center;
	font-family: 'Playfair Display', serif;
	color: #ffffff;
	background-color: #1A237E;
  font-size: 28px;
  
	padding: 5px 0 5px 0;
	/*margin-bottom: 7px;*/
}
.topic-btn-div::-webkit-scrollbar,  .share-btn-div::-webkit-scrollbar{
    width: 0px;
	height: 0;/* remove scrollbar space */
   /* background: transparent;  /* optional: just make scrollbar invisible */
	-ms-overflow-style: none;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

a{
  color: #1A237E
}

.ui-icon-loading, .ui-loader{
  display: none;
}

h1{
	font-size: 22px;

	margin: 16px auto 6px auto;
	color: #0D47A1;
}
#nav-settings h2{
	margin: 18px 1px 3px;
	font-size: 30px;
	padding: 0 8px 0 8px;
}
.align-right{
	text-align: right;
}
.align-right-topic{
	margin-left: 10%;
}
button{
    font-size:20px;
	border-width: 0;
    font-family: 'Roboto', sans-serif;
}
.cover{
	margin: 5px auto 5px auto;
	padding: 8px;
	text-align:center;
	border: 1px solid #1976D2;
	font-size:22px;
	color: #1976D2;
}
.topic-btn-div{
	width: 95%;
	/*overflow-x: auto;
    white-space: nowrap;
	-ms-overflow-style: none;
	text-align:center;*/
	/* border: 1px solid black; */
}
#off-para{
	color: #795548;
	padding: 0 0 0 12px;
	/*float: left;
	position: relative;
  top: 50%;
  transform: translateY(31%);*/
}
.x-div{
  float:left;
}
.tag-button, .off-button, .search-tag{
	background-color: #ffffff;
	border: 1px solid #9E9E9E;
	margin: 1px;
	border-radius: 55px;
	padding: 3px 16px 3px 16px;
	display:inline-block;
	color: #9E9E9E;
}

.off-button{
	padding: 3px 16px 3px 2px;
}
.dyn-selected{
	border: 1px solid #9E9E9E;
	margin: 1px;
	border-radius: 55px;
	padding: 3px 16px 3px 16px;
	background-color: #9E9E9E;
	color: #ffffff;
}
#only-news-div{
	font-family: 'Roboto', sans-serif;
	color: #0D47A1;
	font-size:20px;
}
#checkbox{
	float:right;
	width:20px;
	height:20px;
	display:inline-block;
	border: 7px solid black;
	background:#000000;
}
#search-contents{
	margin-top: 22px;
}

#input-div{
width:100%;
display: inline-block;
}
#tag-query{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: bold;
  color: #9E9E9E;
  background-color: inherit;
	border-width: 0 0 0 3px;
	border-left: 3px solid #9E9E9E;
	padding: 0 8px 0 8px;
	width:95%;
}
/*.search-btn{
	font-family: 'Roboto', sans-serif;
	border:0px;
	font-size:28px;
	background-color: #ffffff;
	padding: 4.5px;;
	color: #9e9e9e;
	float: right;
	display: inline-block;
}*/
#submit{
    background-color:#0039cb;
       padding:3px 10px 3px 10px;
    color:#ffffff;
}
.nav-btn{
	width:33%;
	margin:0 0 0 0 ;
	border-radius:0;
	background-color:rgba(189, 189, 189,0.9);
	padding: 5px;
	font-size: 20px;
}
.nav-btn-active{
	background-color: rgba(26, 35, 126, 0.9);
	color: #ffffff;
  //border-top: 4px solid #1A237E;

}
#news-btn{
	width: 34%;
}

#nav-nav{
	position: fixed;
    bottom: 0;
    z-index: 3;
	width:100%;
}
#nav-settings{
	display: block;
	width:90%;
  margin:auto;
  
}

#nav-news{
	display: none;
  /*margin: auto;*/
  padding: 0;
  /*background-color: yellow;
  /*width: 100%;*/
}

#nav-info{
	display: none;
  width: 90%;
  margin: auto;
  z-index: 1;
}

.fa-times-circle{
	position: relative;
  top: 50%;
  transform: translateY(31%);
  font-size: 15px;

}
.strike-through{
  text-decoration:line-through;
}
#results{
  
}
iframe{
	width:95%;
  max-width: 550px;
  height: auto;
}
.gu-image{
  margin: auto;
  width:95%;
  max-width: 550px;
  height: auto;
}

.gu-video{
  width:95%;
  max-width: 550px;
}
.instagram-media{
  overflow-y: visible;
}
.element-image{
  width: 95%;
  max-width: 500px;
  margin: 0 auto 7px auto;
}
.email-sub__iframe, element-embed{
display: none;
}
.element-pullquote, .element-rich-link{
  display: none;
}

.atom-Qanda{
  display: none;
}
.element-video{
  max-width: 95%;
}
.element-image__caption, .element-image__credit{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #424242;
}
.atom-guide{
  display: none;
}


.story-item{
  margin: 9px auto 0 auto;
  width: 93%;
  max-width: 500px;
  border-radius: 7px;
  /*padding: 5px 5px 5px 8px;*/
  background-color: #ffffff;
	font-size: 18px;

  -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 1);
box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 1);
}
.story-head{
  display: block;
}
.h-head{
  
  margin: 0;

  font-weight: bold;
  
  
  font-family: 'Noto Serif', serif;
  padding: 6px 6px 0 6px;
  line-height: 1.1;
  font-size: 20px;
}
.thumbnail-head{
  width: 100%;
  border-radius: 7px 7px 0 0;
  margin:0;
}
.trail-head{
  margin: 2px 0 0 0;
  font-size: 20px;
  line-height: 1.1;
  /*width: 66%;
  background-color: orange;
  display: inline-block;
  font-family: 'Domine', serif;*/
  font-family: 'Roboto', sans-serif;
  
  font-size: 15px;
  line-height: 1.1;
  padding: 3px 6px 6px 6px;
}
.b-tops{
  position: fixed;
  width: 96%;
  font-size: 15px;
  background-color: #ffffff;
  border-bottom: 1px solid black;
}
.open-g{
  padding: 6px;
  margin: 0;
  display: inline-block;
}
/*.x{
  width: 10%;
  padding: 8px;
  background-color:red;
  float: left;
  text-align: center;
  //display:inline-block;
}*/

.story-body{
	display:none;
  z-index: 3;
  border-radius: 8px;

  -webkit-box-shadow: 0px 0px 51px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 51px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 51px 0px rgba(0,0,0,1);

    background-color:#ffffff;
    position:fixed;
    width:96%;
    
    
    height:96%;
    top: 2%;
    left: 2%;
font-family: 'PT Serif', serif;

  overflow-y: scroll;

  -webkit-transition: none;
-moz-transition: none;
-o-transition: none;
-ms-transition: none;
transition: none;
}
.story-body::-webkit-scrollbar, .b-bottom::-webkit-scrollbar {
    width: 0px;
	height: 0;
	-ms-overflow-style: none;
}
.story-body h1{
  font-family: 'Domine', serif;
  font-size: 25px;
  //color: #000000;
  color: #1A237E;
  padding: 0 9px 0 9px;

}
.story-body h2{
  margin: 22px 0 0 0;
  font-size: 22px;
  font-family: 'Domine', serif;
  padding: 0 9px 0 9px;
}
hr{
  width: 90%;
  color: #1A237E;
}
.story-body p{
  margin: 0 0 12px 0;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  line-height: 1.5;
  padding: 0 9px 0 9px;
}
.b-mid{
//  padding: 9px;
  color: #000000;
  background-color: #ffffff;
}
.b-mid a{
  text-decoration: none;
  background-size: 2px 2px;
    background-position: 0 1.15em;
    background-repeat: repeat-x;

  background-image: linear-gradient(to bottom,rgba(0,0,0,.68) 50%,rgba(0,0,0,0) 50%);

  //border-bottom: 1px solid #757575;
}
.b-mid ::selection {
  background: #FFD54F;
}
.b-mid ::-moz-selection {
  background: #FFD54F;
}
.story-body .trailText{
  margin: 0 0 8px 0;
  padding: 4px 9px 2px 9px;
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Domine', serif;
  //background-color: #3F51B5;
  //color: #ffffff;
  color: #424242
}
.thumbnail{
  width: 100%;
  position: static;
  height: auto;

}
.tag-button:active{
  padding: 2px 15px 2px 15px;
  margin: 2px;
}
.b-bottom{
	width: 96%;
  padding: 0;
	position: fixed;
	bottom: 2%;
	left: 2%;
  color: #1A237E;
  /*overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;*/

  background-color: rgba(255,255,255,0.9);

}
.share-btn-div{
  margin: 0;
  display: none;
  
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.botton-row-2{
  width: 100%;
}
.b-fn{
  padding: 7px;
  margin-left: 12.5%;
}
.social-btn{
	
	padding: 7px 25px;
  color: #ffffff;
	font-size: 20px;
}

.fa-share-alt{
  display: inline-block;
/*  float: right;
  border-left: 1px solid black;*/
}

.url-btn{
 // display: none;
}
.world{
	color: #000000;
	border-left: 3px solid black;
}
#world-topics .tag-button{
	border-color: #000000;
	color: #000000;
}
#world-topics .selected{
	background-color: #000000;
	color: #ffffff;
}
.tech{
	color: #0D47A1;
	border-right: 3px solid #0D47A1;}
#tech-topics .tag-button{
	border-color: #0D47A1;
	color: #0D47A1;
}
#tech-topics .selected{
	background-color: #0D47A1;
	color: #ffffff;
	}
.business{
	color: #006064;
	border-right: 3px solid #006064;}
#business-topics .tag-button{
	border-color: #006064;
	color: #006064;
}
#business-topics .selected{
	background-color: #006064;
	color: #ffffff;
	}
  .science{
  	color: #006064;
  	border-left: 3px solid #006064;}
  #science-topics .tag-button{
  	border-color: #006064;
  	color: #006064;
  }
  #science-topics .selected{
  	background-color: #006064;
  	color: #ffffff;
  	}
.sport{
	color: #F44336;
	border-left: 3px solid #F44336;
}
#sport-topics .tag-button{
	border-color: #F44336;
	color: #F44336;
}
#sport-topics .selected{
	background-color: #F44336;
	color: #ffffff;
	}
.arts{
	color: #9C27B0;
	border-right: 3px solid #9C27B0;
}
#arts-topics .tag-button{
	border-color: #9C27B0;
	color: #9C27B0;
}
#arts-topics .selected{
	background-color: #9C27B0;
	color: #ffffff;
	}
.arts{
	color: #9C27B0;
	border-right: 3px solid #9C27B0;
}
#arts-topics .tag-button{
	border-color: #9C27B0;
	color: #9C27B0;
}
#arts-topics .selected{
	background-color: #9C27B0;
	color: #ffffff;
	}
.off{
	color: #795548;
	border-left: 3px solid #795548;
}
#off-topics .off-button{
	border-color: #795548;
	color: #795548;
}
.twitter-tweet{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #424242;
  width: 95%;
  max-width: 500px;
  margin: auto;
  border: 1px solid #9E9E9E;
  border-radius: 5px;
  padding: 5px 5px 5px 7px;
}
.twitter-tweet p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #424242;
  width: 95%;
  line-height: 1.3;
  max-width: 500px;
  margin: auto;
  padding: 5px 5px 5px 7px;
}

 
#fb{
  background-color: rgba(59, 89, 152, 0.85);
}
#twt{
  background-color: rgba(29, 161, 242, 0.85);
}
#lnk{
  background-color: rgba(0, 119, 181,0.85);
}
#wa{
  background-color: rgba(7, 94, 84, 0.9);
}
#pin{
  background-color: rgba(189, 8, 29, 0.85);
}
#fbm{
  background-color: rgba(0, 132, 255, 0.85);
}
#mail{
  background-color: rgba(0, 0, 0, 0.85);
}
.next-item{
  width: 50%;
  font-size: 27px;
  color: pink;
}
.next-body{
  display:none;
  color: cyan;
}